/*Helpers*/

.centered {
	text-align: center;
}

/*Navigation & Header*/

#logo {
	margin-left: 5%;
	width: 100px;
	display: inline-block;
}

#top-nav {
	display: inline-block;
	margin-left: 5%;
	text-align: center;
}

#top-nav li {
	display: inherit;
}

/*InfoGraphic*/

#globe {
	width: 100%;
}

/*Card Styling For All Grids*/

.card {
	background: rgba(230, 230, 230, 0.3);
	text-decoration: none;
	color: #444;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/*Features List Grid*/

.features {
	width: 50%;
  	max-width: 1240px;
 	margin: 0 auto;
   
	display: grid;
	   
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

/*Services Grid*/

.services {
	width: 70%;
  	max-width: 1240px;
 	margin: 0 auto;
   
	display: grid;
	   
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.icon {
	margin: auto;
	padding: 10px;
}

.icon img {
	width: 60px;
	height: auto;
}

/*Case Studies Grid*/

.cases {
	width: 90%;
  	max-width: 1240px;
 	margin: 0 auto;
   
	display: grid;
	   
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
