/*Helpers*/

.centered {
	text-align: center;
}

body {
	margin: 0;
}

/*Navigation & Header*/

header {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	min-width: 100%;
	box-sizing: border-box;
}

#logo {
	margin-left: 5%;
	width: 100px;
	display: inline-block;
}

#top-nav {
	display: inline-block;
	margin-left: 5%;
}

#top-nav li {
	display: inherit;
	margin-left: 1%;
}

#top-nav li a {
	text-decoration: none;
}

/*InfoGraphic*/

#map {
	text-align: center;
}

#globe {
	width: 60%;
}

/*Solutions Section*/

#solutions-intro {
	width: 50%;
  	max-width: 1240px;
 	margin: 0 auto;
}

/*Card Styling For All Grids*/

.card {
	background: rgba(230, 230, 230, 0.3);
	text-decoration: none;
	color: #444;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/*Features List Grid*/

.features {
	width: 50%;
  	max-width: 1240px;
 	margin: 0 auto;
    padding-bottom: 50px;
	display: grid;
	   
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-item h4 {
	display: inline-block;
	margin-left: 5px;
}

.feature-icon{
	width: 36px;
	height: 36px;
	display: inline-block;
}

/*Services Grid*/

.services {
	width: 70%;
  	max-width: 1240px;
 	margin: 0 auto;
   
	display: grid;
	   
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}


.icon {
	margin: auto;
	padding: 10px;
}

.icon img {
	width: 60px;
	height: auto;
}

/*Case Studies Grid*/

.cases {
	width: 90%;
  	max-width: 1240px;
 	margin: 0 auto;
   
	display: grid;
	   
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
