/*Site*/

body {

	/* Positioning & Resets & Junk */
	margin-top: 70px;
	margin-left: 0;
	margin-right: 0;
	box-sizing: border-box;

	/* Styling */
	font-family: sans-serif;
}

/* Helpers */

.center-text {
	text-align: center;
}

.active-nav {
	font-weight: 700;
	color: red;
	text-decoration: underline;
}

/*Navigation & Header*/

header {
	/* Positioning */
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;

	/* Flex Stuff */
	display: flex;
	align-items: center;

	/* Styling Stuff */
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	background-color: white;

}

header * {
	display: inline;
}

header img {
	margin-left: 5%;
	margin-right: 5%;
	width: 100px;
}

nav {
	display: flex;
	justify-content: center;
}

nav li {
	margin: 10px;
	text-transform: uppercase;
	font-size: .8em;
}

nav li a {
	color: black;
	text-decoration: none;
}

nav li a:hover {
	color: red;
	text-decoration: underline red;
	font-weight: 700;
}

nav li a:active, nav li a:visited {
	color: black;
	text-decoration: none;
}

/* Full Screen Hero */
.hero {

	/* Background & Animation */
	background: url(img/mercator.jpg);
	background-size: cover;
	animation: animateBg 120s linear infinite;
	

	/* Sizing Stuff */
	width: 100vw;
	height: 100vh;

	/* Positioning */
	margin-top: -70px;

	/* Flex Stuff */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Styling */
	text-align: center;
}

@keyframes animateBg {
	0%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: 1771px 0;
	}

}

/* Earth */
.pulse {

	/* Positioning */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* Sizing */
	width: 400px;
	height: 400px;

	/* Background & Anmiation*/
	background-image: url(img/earth.png);
	background-size: cover;
	animation: animateEarth 20s linear infinite;
	border-radius: 50%;
	box-shadow: inset 0 0 40px rgba(255,255,255,.5);
}

@keyframes animateEarth {
	0%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: 719px 0;
	}

}


/* Energy Waves */
.pulse span {

	/* Positioning */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;

	/* Sizing */
	width: 100%;
	height: 100%;

	/* Styling & Animation */
	border-radius: 50%;
	background: transparent;
	border: 2px solid maroon;
	box-sizing: border-box;
	animation: animate 6s linear infinite;
}

.pulse span:nth-child(1) {
	animation-delay: 0s;
}

.pulse span:nth-child(2) {
	animation-delay: 2s;
}

.pulse span:nth-child(3) {
	animation-delay: 4s;
}

@keyframes animate {
	0%
	{
		width: 400px;
		height: 400px;
		opacity: 1;
	}
	100%
	{
		width: 1200px;
		height: 1200px;
		opacity: 0;
	}
}

/* Hero Content */
.punch {
	color: white;
	text-shadow: 1px 1px 5px rgba(195, 50, 67, 1);
	text-transform: uppercase;
}

.hero h1 {
	position: absolute;
	z-index: 2;
	width: 80%;
	top: 10%;
	left: 50%;
	transform: translate(-50%);
	font-size: 3em;
	line-height: 1.1em;
	
}

.hero h3 {
	position: absolute;
	z-index: 2;
	top: 72%;
	left: 50%;
	transform: translate(-50%);

	font-size: 1.6em;
}

.hero button {
	/* Sizing */
	width: 250px;
	height: 50px;
	overflow: hidden;

	/* Styling */
	background-color: rgb(150,0,0);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 400;
	box-shadow: 1px 1px 5px #000;
	border: none;
}

.hero button:hover {
	cursor: pointer;
	transition: all .7s ease;
	background-color: rgb(255, 0, 0);
	text-shadow: 1px 1px 5px rgba(255,0,0,1);
	box-shadow: 0px 0px 5px rgba(255,255,255,.3);
	font-weight: 700;
	font-size: 1.25em;


}

#btn-1 {
	position: absolute;
	z-index: 2;
	left: 25%;
	top: 85%;

}

#btn-2 {
	position: absolute;
	display: inline-block;
	z-index: 2;
	left: 55%;
	top: 85%;
}

/* Main Container */

main {
	background-image: url(img/bg.jpg);
	background-position: center top;
	background-size: cover;
}

/*InfoGraphic*/

#map {
	text-align: center;
}

#globe {
	width: 60%;
}



/*Solutions Section*/

#solutions-intro {
	width: 70%;
  	max-width: 1240px;
 	margin: 0 auto;
}

/*Card Styling For All Grids*/

.card {
	background: rgb(245, 245, 245);
	text-decoration: none;
	color: #444;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/*Features List Grid*/

.features {
	width: 50%;
  	max-width: 1240px;
 	margin: 0 auto;
    padding-bottom: 50px;
	display: grid;
	   
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-item h4 {
	display: inline-block;
	margin-left: 5px;
}

.feature-icon{
	width: 36px;
	height: 36px;
	display: inline-block;
}

/*Services Grid*/

.services {
	width: 70%;
  	max-width: 1240px;
 	margin: 0 auto;
   
	display: grid;
	   
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}


.icon {
	margin: auto;
	padding: 10px;
}

.icon img {
	width: 60px;
	height: auto;
}

/*Case Studies Grid*/

.cases {
	width: 90%;
  	max-width: 1240px;
 	margin: 0 auto;
   
	display: grid;
	   
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}


/*Media Queries*/

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}